body {
  margin: 0;
  background: #e6e1e1;
}

.nav-bar {
  display: flex;
  width: 100%;
  background: #f5f5f5;
  position: fixed;
  z-index: 2;
}
.linkedln-icon {
  position: relative;
  left: 107px;
  height: 47px;
  top: 4px;
}
.linkedin {
  font-size: 40px;
  color: #4260f5;
}
.nav-search {
  display: flex;
  position: relative;
  left: 131px;
  top: 10px;
  height: 29px;
  width: 300px;
}
#fname {
  position: relative;
  width: 165px;
  transition: width 0.6s;
  left: 11px;
  top: 5px;
  border: none;
  height: 22px;
  outline: none;
  z-index: 1;
  background: #e1ebed;
}
#fname:hover {
  width: 250px;
  border: none;
}
.secondary-icons i {
  color: grey;
}
.secondary-icons i:hover{
  color:black;
}
.fa-search {
  position: absolute;
  left: -12px;
  top: 5px;
  color: #a39e9e;
  background-color: #e1ebed;
  height: 24px;
  width: 28px;
}
.fa-home {
  position: absolute;
  left: 24rem;
  top: -7px;
  font-size: 27px;
  font-weight: normal;
}
.home {
  position: absolute;
  left: 23.7rem;
  top: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.fa-users {
  display: flex;
  position: absolute;
  left: 29.2rem;
  top: -4px;
  font-size: 21px;
}
.network {
  position: absolute;
  left: 28rem;
  top: 3px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  width: 25%;
}
.fa-briefcase {
  display: flex;
  position: absolute;
  left: 34.4rem;
  top: -4px;
  font-size: 21px;
}
.jobs {
  position: absolute;
  left: 34.3rem;
  top: 3px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  width: 25%;
}
.fa-commenting {
  display: flex;
  position: absolute;
  left: 39rem;
  top: -5px;
  font-size: 22px;
}
.messaging {
  position: absolute;
  left: 37.8rem;
  top: 3px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  width: 25%;
}

.fa-bell {
  display: flex;
  position: absolute;
  left: 44rem;
  top: -2px;
  font-size: 21.5px;
}
.notification {
  position: absolute;
  left: 42.6rem;
  top: 4px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  width: 25%;
}
.body-main {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 83%;
  color: rebeccapurple;
  left: 6rem;
}

.leftside-box {
  display: flex;
  position: absolute;
  width: 18%;
  color: rebeccapurple;
  padding-top: 23%;
  left: 0.9rem;
  top: 4rem;
  height: 76px;
}
.sidebox1 {
  position: absolute;
  background-color: #84a3ba;
  height: 58px;
  top: 0rem;
  left: 0px;
  width: 202px;
  border-radius: 0.3cm 0.3cm 0cm 0cm;
}
.profile-pic {
  border-radius: 2cm;
  height: 21%;
  top: 14px;
  position: absolute;
  left: 60px;
  z-index: 1;
}
.sidebox2 {
  position: absolute;
  background-color: #fff;
  height: 130px;
  top: 55px;
  left: 0px;
  width: 202px;
}
.leftbox-user {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: black;
  top: 48px;
  left: 48px;
}
.leftbox-user:hover{
  text-decoration: underline;
}
.sidebox3 {
  position: absolute;
  background-color: #fff;
  height: 78px;
  top: 186px;
  left: 0px;
  width: 202px;
}
.leftside-text {
  position: relative;
  list-style-type: none;
  top: -9px;
  left: -24px;
  color: black;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  padding-left: 8px;
  margin-left: 24px;
  margin-right: -23px;
}

.left-text1 {
  position: relative;
  color: #292929;
  font-weight: 200;
  top: 7px;
}
.left-text1:hover{
  background: lightgray
}

.left-text2 {
  position: relative;
  top: 6px;
}
.left-text2:hover{
  background: lightgray
}
.left-text3 {
  position: relative;
  color: #292929;
  font-weight: 200;
  top: 19px;
}
.left-text3:hover{
  background: lightgray;
}
.sidebox4 {
  position: absolute;
  background-color: #fff;
  height: 53px;
  top: 265px;
  left: 0px;
  width: 202px;
  border-radius: 0cm 0cm 0.3cm 0.3cm;
}
.sidebox4:hover{
  background: lightgray;
}
.my-items {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: black;
  list-style-type: none;
  top: 15px;
  left: 25px;
}

.center-body-top {
  display: flex;
  position: absolute;
  top: 64px;
  left: 16rem;
  background-color: white;
  width: 54%;
  padding-top: 7rem;
  border-radius: 0.3cm 0.3cm 0.3cm 0.3cm;
  
}
.center-pic {
  border-radius: 2cm;
  height: 50%;
  top: 8px;
  position: absolute;
  left: 16px;
}
.new-post {
  position: absolute;
  top: 17px;
  left: 76px;
}
.start-post {
  position: absolute;
  width: 36vw;
  height: 7vh;
  border-radius: 1cm;
}
.start-post:hover{
  background: lightgray;
}

.fa-image {
  position: absolute;
  color: skyblue;
  top: 79px;
  left: 38px;
  font-size: 23px;
}

.photo {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  color: #292929;
  position: absolute;
  top: 82px;
  left: 80px;
  font-size: 13px;
}
.photo:hover{
  background: lightgray;
}
.fa-youtube {
  position: absolute;
  color: lightgreen;
  top: 75px;
  left: 158px;
  font-size: 30px;
}

.video {
  list-style-type: none;
  position: absolute;
  top: 82px;
  left: 205px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #292929;
}
.video:hover{
  background: lightgray;
}
.fa-calendar-check {
  position: absolute;
  color: orange;
  top: 75px;
  left: 284px;
  font-size: 27px;
}

.event {
  list-style-type: none;
  color: #292929;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 81px;
  left: 333px;
  font-size: 14px;
}
.event:hover{
  background: lightgray;
}
.fa-indent {
  position: absolute;
  color: pink;
  top: 75px;
  left: 417px;
  font-size: 27px;
}

.write {
  list-style-type: none;
  color: #292929;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 81px;
  left: 466px;
  font-size: 14px;
}
.write:hover{
  background: lightgray;
}
.right-side-box {
  display: flex;
  justify-content: right;
  position: absolute;
  background-color: white;
  height: 337px;
  top: 63px;
  left: 80%;
  width: 262px;
  border-radius: 0.3cm 0.3cm 0.3cm 0.3cm;
}
.linkedln-news {
  position: absolute;
  top: -2px;
  left: 6%;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 16px;
}
.news-items li {
  position: relative;
  color: black;
  line-height: 1cm;
  top: 22px;
  left: -17px;
}
.news-items li:hover{
  background: lightgray;
}
.center-bottom {
  display: flex;
  justify-content: right;
  position: absolute;
  background-color: white;
  height: 164vh;
  top: 33vh;
  left: 22.9%;
  width: 606px;
  border-radius: 0.3cm 0.3cm 0.3cm 0.3cm;
}

.center-bottom h4 {
  color: black;
  position: absolute;
  top: 1vh;
  left: 5vw;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}
.center-bottom h4:hover{
  text-decoration: underline;
}
.pro-pic {
  border-radius: 5cm;
  height: 3.8%;
  position: absolute;
  left: 1.1vw;
  top: 4vh;
}
.center-bottom li {
  position: absolute;
  top: 8vh;
  left: 5vw;
  list-style-type: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 12px;
}
.tags {
  list-style-type: none;
  position: absolute;
  top: 45vh;
  left: 44vh;
  color: black;
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
.post-1{
  position: relative;
  top: 52vh;
  left: 18.8vw;
  height: 100%;
  width: 54%;
}
.post-icons{
  list-style-type: none;
  display: flex;
  padding-top: 59vh;
  padding-left: 15vw;
  position: relative;
  color:grey;
 
}
.post-icons li{
  padding-left: 121px;
  font-size: 26px;


}
.center-bottom2 {
  display: flex;
  justify-content: right;
  position: absolute;
  background-color: white;
  height: 125vh;
  top: 199vh;
  left: 22.9%;
  width: 606px;
  border-radius: 0.3cm 0.3cm 0.3cm 0.3cm;
}
.center-bottom2 h4 {
  color: black;
  position: absolute;
  top: 1vh;
  left: 5vw;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}
.center-bottom2 h4:hover{
  text-decoration:underline ;
}
.pro-pic2 {
  border-radius: 5cm;
  height: 3.8%;
  position: absolute;
  left: 1.1vw;
  top: 4vh;
}
.center-bottom2 li {
  position: absolute;
  top: 8vh;
  left: 5vw;
  list-style-type: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 12px;
}
.tags2 {
  list-style-type: none;
  position: absolute;
  top: 211vh;
  left: 44vh;
  color: blue;
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
.post-2{
  position: relative;
  top: 29vh;
  left: 18.8vw;
  height: 100%;
  width: 54%;
}
.post-icons2{
  list-style-type: none;
  display: flex;
  padding-top: 34vh;
  padding-left: 15vw;
  position: relative;
  color:grey;
 
}
.post-icons2 li{
  padding-left: 121px;
  font-size: 26px;
}
